<div class="container-xl">
    <div id="main" class="container-fluid">
        <div id="top" class="row">
            <div class="col-sm-10">
                <h2>Brand</h2>
            </div>
            <div class="col-sm-2">
                <a href="/brandedit" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span> Add New</span></a>
            </div>
        </div>  
        <div id="list" class="row">
            
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>						
                        <th style="text-align: center;">Last Updated Date</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let brand of brands | async">
                        <td style="width: 33%;"><a>{{ brand.description }}</a></td>
                        <td style="width: 33%; text-align: center">{{ brand.lastUpdateDate | date:'short' }}</td>
                        <td style="width: 33%; text-align: center">
                            <button type="button" class="btn btn-warning btn-sm" (click)="brandEdit(brand.id)"><i class="material-icons">&#xE8B8;</i></button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="brandDelete(brand.id)"><i class="material-icons">&#xE5C9;</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div> 
</div>

