<div class="fw-background">
  <div></div>
</div>

<div class="fw-container">
  <div class="fw-header">
    <div class="nav-master">
      <div class="nav-item">
        <a href="#"><i class="material-icons">commute</i> Vehicle Control Registration</a>
      </div>
    </div>
    <br>
    <div class="nav-search">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-sm-2"><a href="/brandlist" style="font-size: 2em;">Brand</a></div>
        <div class="col-sm-2"><a href="/modellist" style="font-size: 2em;">Model</a></div>
        <div class="col-sm-2"><a href="/vehiclelist" style="font-size: 2em;">Vehicle</a></div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
    
</div>

